<h1><%= @flat.name %></h1>
<h3><%= @flat.address %></h3>

<h2>A bit more about this flat...</h2>
<p><%= @flat.description %></p>

<h2>Details</h2>
<i class="fas fa-user-friends"> <%= @flat.number_of_guests %></i>
<i class="fas fa-euro-sign"> <%= @flat.price_per_night %></i>
